# Ignorar carpeta .vscode
.vscode/*

# Ignorar todos los archivos .parquet
*.parquet

# Ignorar todos los archivos .pyc
*.pyc

# Ignorar carpeta data
data/*

# Ignorar archivo data.zip
data.zip

# Ignorar entorno virtual
venv/*

# Ignorar db
*.duckdb
datalake.duckdb
tests.py
silvergold.py