certifi==2025.11.12
duckdb==1.4.2
geopandas==1.1.1
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pyogrio==0.11.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2025.2
shapely==2.1.2
six==1.17.0
tzdata==2025.2
pyarrow==22.0.0 --only-binary :all:
boto3==1.28.45
python-dotenv==1.2.1
apache-airflow>=3.0.0
apache-airflow-providers-amazon==6.1.0
python-dotenv==1.2.1